/* CSS Reset */
:root {
    box-sizing: border-box;
    line-height: 1;
    color: black;
}

body {
    height: 100vh;
    /* background: linear-gradient(#000000 50%, #CBB26B 50%); */
    background-color: #CBB26B;
}

a {
    text-decoration: none;
    color: rgb(205, 201, 201);
}


/* Reusable CSS */


/* HTML CSS */

h1 {
    color: rgb(180, 149, 12);
}

header {
    background-color: rgb(37, 37, 37);
}

/* CSS Animations */


/* Navigation CSS */

.navlinks a {
    margin: 20px;
    padding: 20px;
    color: #CBB26B;
    font-size: clamp(16px, 2.5vh, 25px);
}

.navlinks a:hover {
    border: 1px solid #CBB26B;
}

#logo {
    height: 150px;
    width: 230px;
    /* border-radius: 20%; */
}


/* Main content CSS */

.welcome-banner {
    padding: 100px 0;
    background-color: #201F28;
}

/* .welcome-banner img {
    height: 100px;
    width: 150px;
    margin-bottom: 20px;
} */

.welcome-banner {
    color: white;
    background-image:url("/assets/images/curtain-152112_960_720.png");
    background-size: 500px 200px;
    background-repeat: no-repeat;
    background-position: center;

}

/* .content-search div {
    margin: 100px 0;
} */

.film-category div {
    height: 185px;
    border-radius: 10%;
    background-color: gray;
    margin: 2%;
    width: 210px;
}

.film-category img {
    height: 100px;
    margin: 4%;
    background-color: gray;
    width: 200px;
}


.film-category div button,
.film-category div p {
    background-color: black;
    color: #CBB26B;
    border: 1px solid #CBB26B;
}

/* .film-search {
    width: 100%;
    justify-content: center;
} */


/* Footer CSS */

footer {
    background-color: black;
    width: 100%;
    /* position: fixed;
    bottom: 0; */
}

footer p{
    color: rgb(205, 201, 201);
}
@media screen and (max-width: 768px) {
    .nav a {
        font-size: 1em;
    }
    
}


.film-added {
    width: 100%;
    position: fixed;
    color: white;
    background-color: green;
    text-align: center;
    display: none;
}

.film-added.show {
    display: block;
}