/* CSS Reset */
:root {
    box-sizing: border-box;
    line-height: 1;
    color: black;
}
body {
 height: 100vh;
 /* background: linear-gradient(#000000 50%, #CBB26B 50%); */
 background-color: #CBB26B;
}

a {
    text-decoration: none;
    color: rgb(205, 201, 201);
}


/* Reusable CSS */


/* HTML CSS */

h1 {
    color: rgb(180, 149, 12);
}

header {
    background-color: rgb(37, 37, 37);
}

/* CSS Animations */


/* Navigation CSS */

.navlinks a {
    margin: 20px;
    padding: 20px;
    color: #CBB26B;
    font-size: clamp(16px, 2.5vh, 25px);
}

.navlinks a:hover {
    border: 1px solid #CBB26B;
}

#logo {
    height: 150px;
    width: 230px;
    /* border-radius: 20%; */
}


/* Main content CSS */

.welcome-banner {
    padding: 100px 0;
    background-color:  #201F28;
}

.welcome-banner h2 {
    color: white;
}

/* .content-search div {
    margin: 100px 0;
} */

.film-category div {
    height: 100px;
    background-color: gray;
    margin: 30px;
    width: 200px;
}

.film-category div button,
.film-category div p {
    background-color: black;
    color: #CBB26B;
    border: 1px solid #CBB26B;
}

/* .film-search {
    width: 100%;
    justify-content: center;
} */


/* Footer CSS */

footer {
    background-color: black;
    width: 100%;
    /* position: fixed;
    bottom: 0; */
}
